pip
setuptools
build
wheel
twine
fastapi
mysql
mysql-connector-python
robotframework==7.3.2
robotframework-pabot==5.1.0
robotframework-browser==19.10.1
robotframework-databaselibrary==2.3.2
robotframework-dashboard==1.2.2
robotframework-doctestlibrary==0.28.2
robotframework-robocop==6.9.2
robotframework-tidy==4.18.0